nav {
  height: 50px;
  background-color: lightgrey;
}

.inline-block {
  padding: 15px;
  display: inline-block;
}

.left {
  height: 500px;
  float: left;
  background-color: lightblue;
  width: 30%;
  text-align: center;

}

.right {
  height: 500px;
  float: left;
  background-color: lightgreen;
  width: 70%
}